/* main elements */

body,div,td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
}

body {
	background-color: #fff;
	text-align: center;
}

#header {
	margin-bottom: 1em;
}

#logo {
	width:150px;
}

#wrapper {
	min-width: 800px;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;

	/* fix max-width incompatibility in IE6 */
	width:expression(document.body.clientWidth > 800? "800px": "auto" );
	
	overflow:hidden;
	display:block;
}

#links {
    text-align: right;
}

/* header and footer elements */

#main {
	overflow:hidden;
	display:box;
}

#menu {
	background: #eee;
	position:relative;
	float:left;  	
	left:0px;
	width:220px;
	margin-right:15px;
}

#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li{
	padding: 0px;
}


#menu a, #menu h2 {
	display: block;
	margin: 0;
	padding: 2px 6px;
	color:#FFFFFF;
}

#menu h2 {
	color: #fff;
	background: #648C1D;
	text-transform: uppercase;
	font-weight:bold;
	font-size: 12px;
}

#menu a {
	color: #666666;
	background: #efefef;
	text-decoration: none;
	padding: 2px 12px;
}

#menu a:hover {
	color: #648C1D;
	background: #fff;
}

#footer {
	background:#fff;
	border:none;
	margin-top:15px;
	border-top:1px solid #999999;
}

#footer .new {
	float:left;
}

#footer a:link {color: #7db223;}

.quicklinks {
	clear:both; 
	padding-bottom: 15px
}
.quicklinks span {
	float: right;
}

table.navigation {
	border: 0px;
}

label {
	width:150px;
	float:left;
	margin-left: 5px;
	margin-top: 0px;
}

input {
	height:20px;
}

input, textarea, select {
	border:1px solid #B3B3B3;
}

input.image {
	border: none;
	height: auto;
	vertical-align: middle;
}

submit {
	height:25px;
}

div {
	text-align: left;
}

div.text_right_align {
    text-align: right;
}

div .box {
	display:block;
	margin-left:155px;
    word-wrap: break-word;
    width: 250px;
}

div .notesbox {
	display:block;
	margin-left:255px;
    word-wrap: break-word;
}

/* menu elements*/

a.menu, a.menu:link, a.menu:visited {display:block; width:150px; height:25px;} 
	
/* text styles */

h1,h2,h3 {
	font-family: Helvetica, sans-serif;
	color: #7db223;
}

h1 {
	font-size: 20px;
	line-height: 26px;
}

h2 {
	font-size: 18px;
	line-height: 20px;
}

h3 {
	font-size: 15px;
	line-height: 21px;
	color:#555;
}

h4 {
	font-size: 14px;
	line-height: 20px;
}

.errors {
	color: red;
	font-weight: bold;
	display: block;
	margin-left: 154px;
}

.error, .error-inline {
	color: red;
	font-weight: bold;
	display: block;
}

.error-inline {
    margin-left: 8px;
    display: inline;
}

a {
	text-decoration: underline;
	font-size: 12px;
}

a img {
	border: 0 none;
	vertical-align: middle;
}

tr:nth-child(odd) {
	background-color: #FFFFFF;
}

tr:nth-child(even) {
	background-color: #EFEFEF;
}

a:link {
	color: #7db223;
}

a:hover {
	color: #456314;
}

a:active {
	color: #7db223;
}

a:visited {
	color: #7db223;
}

li {
	padding-top: 5px;
	text-align: left;
}

ul li {
	margin:0 0 0.25em 0;
	padding:0;
}
/* table elements */

table {
	background: #EEEEEE;
	margin: 2px 0 0 0;
	border: 1px solid #BBBBBB;
	border-collapse: collapse;
	width: 100%
}

table table {
	margin: -5px 0;
	border: 0px solid #e0e7d3;
	width: 100%;
}

table td,table th {
	padding: 2px;
	border: 1px solid #CCCCCC;
	vertical-align: top;
}

table td form {
	text-align:center;
	vertical-align: middle;
	margin: 0px;
}

table th {
	font-size: 0.9em;
	text-align: left;
	font-weight: bold;
	color: #FFF;
	background: #999;
}

table thead {
	font-weight: bold;
	font-style: italic;
	background-color: #BBBBBB;
}

table a:link {color: #303030;}

.utilbox {width: 18px;}

caption {
	caption-side: top;
	width: auto;
	text-align: left;
	font-size: 12px;
	color: #848f73;
	padding-bottom: 4px;
}

fieldset {
	background: #e0e7d3;
	padding: 8px;
	padding-bottom: 22px;
	border: none;
	width: 560px;
}

fieldset label {
	width: 70px;
	float: left;
	margin-top: 1.7em;
	margin-left: 20px;
}

fieldset textfield {
	margin: 3px;
	height: 20px;
	background: #e0e7d3;
}

fieldset textarea {
	margin: 3px;
	height: 165px;
	background: #e0e7d3;
}

fieldset input {
	margin: 3px;
	height: 20px;
	background: #e0e7d3;
}

fieldset table {
	width: 100%;
}

fieldset th {
	padding-left: 25px;
}

.table-buttons {
	background-color:#fff;
	border:none;
}

.table-buttons td {
	border:none;
}

.submit input {
	border: 1px solid #BBBBBB;
	color:#777777;
	padding:2px 7px;
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
	height:24px;
}

.updated {
	background:#ecf1e5;
	font-size:11px;
	margin-left:2px;
	border:4px solid #ecf1e5;
}

.updated td {
	padding:2px 8px;
	font-size:11px;
	color:#888888;
}

.display_field {
    margin-bottom: 10px;
    overflow: auto;
}

.dijitTitlePane {
    margin-bottom: 10px;
}

.dijit {
    margin-bottom: 10px !important;
}

.dijitArrowButton {
	height: 20px;
}

.dijitTextArea{
	min-height:5.5em !important;
	max-height:22em !important;
	overflow-y: auto !important;
    margin-bottom: 10px !important;
	max-width: 175px;
}

.RichTextEditable{
	min-height:18em !important;
	max-height:18em !important;
}

.flag {
	height: 11px;
	width: 16px;
}

.logged_in_clinic{
    color: #666666;
    font-size: 13px;
    text-align: right;
    margin-top: 5px;
}

/* create medical history */
.drug_history { overflow : hidden; }
.drug_history_allergy { margin-bottom:30px; }
.drug_history span input { float:left; }
.drug_history span label { margin-top:5px;  }
.drug_history_label { display:block; font-weight:bold; }
.drug_history_option { clear:both; }
.drug_history_checkbox { display:block; clear:both; height:25px; }
.drug_history_checkbox label { width:300px; }
.drug_history_allergy .drug_history_checkbox label { width:150px; }

/* view medical history */
.drug_allergy_text { display:block; margin-top:5px; }
.drug_rash_text { display:block; margin-top:5px; }
.drug_allergy_view_label { display:block; font-weight:bold; }
.drug_rash_view_label { display:block; font-weight:bold; margin-top:30px; }

/* Opportunistic Infections */
.opp_infection span { display:block; clear:both; height:25px; }
.opp_infection span input { float:left; }
.opp_infection span label { width:300px; margin-top: 5px; margin-left: 10px;}
.opp_infection #otherOpportunisticInfectionInfo label { width:50px; }

#dosages {
    overflow:auto;
    border-top: 1px solid grey;
    padding-top: 12px;
}

.dosage {
    float: left;
    margin-right: 80px;
}

.tundra .dijitTextArea{
    padding-right:2px;
    width:99em;
}

#_c_org_motechproject_tama_domain_TreatmentAdvice_drugName1_id {
    height: 22px;
}

.system_categories {
    margin-top: 15px;
}

.system_categories > .title {
    font-weight: bold;
}

.system_categories .category {
    clear: both;
    width: 700px;
}

.system_categories .category > .title {
    font-weight: bold;
}

.system_categories .category .title {
    float: left;
    width: 360px;
    padding: 5px 0;
}

.system_categories .category .state {
    float: left;
    width: 160px;
}

.system_categories .category .description {
    float: left;
    width: 160px;
}

.system_categories .category .ailments {
    margin-left: 10px;
    clear: both;
}

.system_categories .category .ailments .ailment {
    padding: 5px 0;
}

.system_categories .category .ailments .ailment .title {
    float: left;
    width: 350px;
}

.system_categories .category .ailments .ailment .state {
    width: 160px;
}

.system_categories .category .ailments .ailment .description {
    width: 160px;
}

#_title_ps_org_motechproject_tama_alert_id_pane .box {
  margin-left : 0px;
  display : inline-block;
}

.show_alert label {
    width: 250px;
    display : inline-block;
}

.warning {
    height: 15px;
    background-color: ORANGE;
    color: WHITE;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.info {
    height: 15px;
    background-color: GREY;
    color: WHITE;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.errorBanner {
    height: 15px;
    background-color: RED;
    color: WHITE;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.red { background-color: RED}
.blue { background-color: BLUE}
.orange { background-color: ORANGE}
.green { background-color: GREEN}
.grey { background-color: #848476}

.bold{ font-weight: bold; }

.pageNavigation {
    margin: 5px 0px 10px 0px;
    text-align: right;
}

.pageNavigation input.goToPageButton {
    width: 30px;
    margin-left:7px;
    height: 24px;
    padding-bottom: 1px;
}

.pageNavigation .pageNumber{
    width: 40px;
    height: 20px;
}

.oi_display {
    margin: 5px;
}
