<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.3.xsd" >
    <context:property-placeholder location="classpath*:activemq.properties" ignore-unresolvable="true"/>
    <context:property-placeholder location="classpath*:/*.properties"/>

    <beans:import resource="classpath*:applicationMobileContext.xml"/>
    <context:annotation-config/>
    <context:spring-configured/>
    <context:component-scan base-package="org.motechproject.demo"/>

    <security:http auto-config='true'>
        <security:intercept-url pattern="/login" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/resources/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/**" access="ROLE_ADMIN"/>
        <security:form-login login-page='/login' login-processing-url="/resources/j_spring_security_check" authentication-failure-url="/login?login_error=t" default-target-url='/patients'
            always-use-default-target='true' />
        <security:logout logout-url="/resources/j_spring_security_logout" />

    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="admin" password="password" authorities="ROLE_ADMIN"/>
                <security:user name="rohit" password="password" authorities="ROLE_ADMIN"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

</beans>

